:root {
  background-color: burlywood;
  background-image: url('pictures/background.png');
}

html, body {
    overflow: hidden;
}

#projectName {
  display: block;
  margin: auto;
  width: 50%;
  padding: 1rem;
}

#myCanvas {
  margin: auto;
  display: block;
  width: 850px;
  background-image: url('pictures/game_background.png');
  background-size: cover;
}

.p5Canvas {
  display: none;
}

#Progress_Status {
  margin: auto; 
  width: 40%; 
  background-color: #ddd; 
} 
  
#myprogressBar { 
  width: 100%; 
  height: 35px; 
  background-color: #4CAF50; 
  text-align: center; 
  line-height: 32px; 
  color: black; 
} 

.flexbox {
  display: flex;
  flex-direction: row;
}

#charLeft, #charRight {
  margin: auto;
  height: 28rem;
  width: auto;
}

#arrowLeft, #arrowRight {
  margin: auto;
  height: 8rem;
  width: auto;
}

#score, #highscore {
  font-size: 2.5rem;
  text-align: center;
  justify-content: space-around;
  margin: 1;
}
