:root {
  background-color: burlywood;

}

html, body {
    overflow: hidden;
    padding: 0; 
    margin: 0; 
}
#myCanvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 850px;
    background-image: url('pictures/game_background.png');
    background-repeat: repeat;
    background-size: cover;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}

.p5Canvas {
  display: none;
}

#Progress_Status {
  margin: auto; 
  width: 40%; 
  background-color: #ddd; 

} 
  
#myprogressBar { 
  width: 100%; 
  height: 35px; 
  background-color: #4CAF50; 
  text-align: center; 
  line-height: 32px; 
  color: black; 
} 

.flexbox {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#charLeft {
  margin: auto;
  text-align: left;
  height: 30rem;
  width: auto;
}

#charRight {
  margin: auto;
  text-align: left;
  height: 30rem;
  width: auto;
}

#arrowLeft, #arrowRight {
  margin: auto;
  height: 8rem;
  width: auto;
}



#score, #highscore {
  font-size: 3rem;
  justify-content: space-around;
  align-content: center;
  margin: 0;
}
