canvas { 
    border: 0.3rem solid darkgreen;
}

html, body {
    overflow: hidden;
    padding: 0; 
    margin: 0; 
}
#myCanvas {
    background-image: url('pictures/game_background.png');
    background-repeat: repeat;
    background-size: cover;
}

.p5Canvas {
  display: none;
}

#Progress_Status { 
  width: 50%; 
  background-color: #ddd; 

} 
  
#myprogressBar { 
  width: 100%; 
  height: 35px; 
  background-color: #4CAF50; 
  text-align: center; 
  line-height: 32px; 
  color: black; 
} 
